*.png
*.log
*.json
*.pyc
.vscode*
.idea*
*.bz2
.venv*
*.pkl
*tar.gz
*.whl
dist/*
*.epgz
*.pdf
tests/sessions_copy_delete/*
dev/sessions_copy_delete/*
dev/sample_sessions*
*.nbi
*.nbc
*.csv
*config.toml
*.xlsx
caliscope/_version.py
caliscope.code-workspace
site/*
_version.py
example_project/point_estimates.toml
example_project/calibration/extrinsic/port_1.mp4
example_project/calibration/extrinsic/port_2.mp4
example_project/calibration/extrinsic/port_3.mp4
example_project/calibration/extrinsic/port_4.mp4
example_project/calibration/extrinsic/CHARUCO/port_1_CHARUCO.mp4
example_project/calibration/extrinsic/CHARUCO/port_2_CHARUCO.mp4
example_project/calibration/extrinsic/CHARUCO/port_3_CHARUCO.mp4
example_project/calibration/extrinsic/CHARUCO/port_4_CHARUCO.mp4
example_project/calibration/intrinsic/port_1.mp4
example_project/calibration/intrinsic/port_2.mp4
example_project/calibration/intrinsic/port_3.mp4
example_project/calibration/intrinsic/port_4.mp4
example_project/recordings/test_recording/port_1.mp4
example_project/recordings/test_recording/port_2.mp4
example_project/recordings/test_recording/port_3.mp4
example_project/recordings/test_recording/port_4.mp4
example_project/recordings/test_recording/HOLISTIC/port_1_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/port_2_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/port_3_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/port_4_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/xyz_HOLISTIC.trc
tests/__init__.py
tests/test_calibration.py
tests/test_configurator.py
tests/test_controller.py
tests/test_export.py
tests/test_gap_fill.py
tests/test_intrinsic_calibrator.py
tests/test_metarig_config_json.py
tests/test_motion_trial.py
tests/test_smoothing.py
tests/test_stream.py
tests/test_sync_stream_manager.py
tests/test_synchronizer.py
tests/test_triangulator.py
tests/test_wireframe_builder.py
tests/test_xy_csv_process.py
tests/test_xy_to_xyz.py
tests/reference/base_data/README.md
tests/reference_delete/base_data/README.md
tests/sessions/4_cam_recording/point_estimates.toml
tests/sessions/4_cam_recording/calibration/extrinsic/port_0.mp4
tests/sessions/4_cam_recording/calibration/extrinsic/port_1.mp4
tests/sessions/4_cam_recording/calibration/extrinsic/port_2.mp4
tests/sessions/4_cam_recording/calibration/extrinsic/port_3.mp4
tests/sessions/4_cam_recording/recording_1/port_0.mp4
tests/sessions/4_cam_recording/recording_1/port_1.mp4
tests/sessions/4_cam_recording/recording_1/port_2.mp4
tests/sessions/4_cam_recording/recording_1/port_3.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC/port_0_HOLISTIC.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC/port_1_HOLISTIC.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC/port_2_HOLISTIC.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC/port_3_HOLISTIC.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC_OPENSIM/port_0_HOLISTIC_OPENSIM.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC_OPENSIM/port_1_HOLISTIC_OPENSIM.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC_OPENSIM/port_2_HOLISTIC_OPENSIM.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC_OPENSIM/port_3_HOLISTIC_OPENSIM.mp4
tests/sessions/4_cam_recording/recording_1/HOLISTIC_OPENSIM/xyz_HOLISTIC_OPENSIM.trc
tests/sessions/mediapipe_calibration/point_estimates.toml
tests/sessions/mediapipe_calibration/calibration/extrinsic/port_0.mp4
tests/sessions/mediapipe_calibration/calibration/extrinsic/port_1.mp4
tests/sessions/mediapipe_calibration/calibration/extrinsic/port_2.mp4
tests/sessions/mediapipe_calibration/calibration/extrinsic/port_3.mp4
tests/sessions/mediapipe_calibration_2_cam/point_estimates.toml
tests/sessions/mediapipe_calibration_2_cam/calibration/extrinsic/port_0.mp4
tests/sessions/mediapipe_calibration_2_cam/calibration/extrinsic/port_1.mp4
tests/sessions/mediapipe_calibration_2_cam/recordings/recording_1/port_0.mp4
tests/sessions/mediapipe_calibration_2_cam/recordings/recording_1/port_1.mp4
tests/sessions/post_monocal/point_estimates.toml
tests/sessions/post_monocal/calibration/extrinsic/port_0.mp4
tests/sessions/post_monocal/calibration/extrinsic/port_1.mp4
tests/sessions/post_monocal/calibration/extrinsic/port_2.mp4
tests/sessions/post_monocal/calibration/extrinsic/port_3.mp4
tests/sessions/post_optimization/point_estimates.toml
tests/sessions/post_optimization/calibration/extrinsic/port_0.mp4
tests/sessions/post_optimization/calibration/extrinsic/port_1.mp4
tests/sessions/post_optimization/calibration/extrinsic/port_2.mp4
tests/sessions/post_optimization/calibration/extrinsic/port_3.mp4
tests/sessions/prerecorded_calibration/point_estimates.toml
tests/sessions/prerecorded_calibration/calibration/intrinsic/port_0.mp4
tests/sessions/prerecorded_calibration/calibration/intrinsic/port_1.mp4
tests/sessions/prerecorded_calibration/calibration/intrinsic/port_2.mp4
tests/sessions/prerecorded_calibration/calibration/intrinsic/port_3.mp4
